body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #0a192f !important;
  color: #c1caeb !important;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Custome Css */
h1 {
  color: #65708c;
}
h2 {
  color: #c1caeb;
}
.number {
  color: #64ffda;
}
.about-col {
  height: 25rem;
  width: 35rem;
}
.project {
  width: 18rem;
}

