body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #0a192f !important;
  color: #c1caeb !important;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Custome Css */
.dropdownContent {
  background-color: #112240;
}
.webBtn {
  background-color: #112240;
}
.webBtn:hover {
  background-color: #64ffda !important;
}
.headerTopic:hover {
  color: #64ffda;
}
.navMenuIcon {
  color: #64ffda;
}
.headericon {
  color: #64ffda;
  transform: scale(1);
  transition: transform 1s;
  font-size: 1.5rem;
}
.headericon:hover {
  transform: scale(1.3);
}
h1 {
  color: #65708c;
}
h2 {
  color: #c1caeb;
}
.number {
  color: #64ffda;
}
/* .aboutCol {
  height: 20rem;
} */

.project {
  height: 13rem !important;
  height: 100%;
  transition: transform 0.5s;
  background-color: #112240 !important;
}
.project:hover {
  transform: translate(0px, -13px);
}
.project:hover .title {
  color: #64ffda !important;
}
.link {
  color: #c1caeb;
  transform: scale(1);
  transition: transform 1s;
}
.project:hover .link {
  color: #64ffda;
  transform: scale(1.3);
}
.contactIcon {
  font-size: 1.3rem;
  color: #64ffda;
}
.contactLink {
  color: #c1caeb;
  /* font-size: 1.2rem; */
}
.contactLink:hover {
  color: #64ffda;
}
.contactLine {
  color: #64ffda;
}

@media (min-width: 992px) {
  .btnContainer {
    width: 25% !important;
  }
  .companyBtn {
    width: 13% !important;
  }
  .jobIcon {
    font-size: 0.7rem !important;
  }
  .jobInfo {
    width: 75%;
  }
}
.jobBtn {
  color: #c1caeb;
  text-transform: capitalize;
  border-color: transparent;
  background-color: #112240;
  font-size: 1rem;
  cursor: pointer;
}
.activeJobBtn {
  box-shadow: -2px 0px 0px 0px #64ffda !important;
}

.jobIcon {
  color: #64ffda;
  /* font-size: 2.7rem !important; */
  font-size: 0.5rem;
}

.companyBtn {
  background-color: #112240;
}
.jobInfo {
  width: 95%;
}
/* custom css nav menu */
.navHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.navToggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.navToggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}
.links a {
  color: var(--clr-grey-3);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
  padding-left: 1.5rem;
}

.linksContainer {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
@media screen and (min-width: 800px) {
  .Navcontainer {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .navHeader {
    padding: 0;
  }
  .navToggle {
    display: none;
  }
  .linksContainer {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .socialIcons {
    display: flex !important;
  }
  .socialIcons a {
    margin: 0 0.5rem;
    /* color: var(--clr-primary-5);
    transition: var(--transition); */
  }
  /* .socialIcons a:hover {
    color: var(--clr-primary-7);
  } */
}
